*{
	font-family: arial;
}
body{
	margin: 0;
	padding: 0;
	background-color:#ffd4d7; 
	height: 0px;
}

header{
	display: flex;
	justify-content: center;
	height: 150px;
	background-color: #ffd4d7;

}
.container{
	display: flex;
	justify-content:space-between;
	width: 100%;
	background-color:;
}
.logo{
	display: flex;
	align-items: center;
	margin-left: 100px;

}
.menu{
	display: flex;
	align-items: center;
	
}
nav ul,
nav li{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-right: 10px;
	
}
nav ul{
	display: flex;

}
nav a{
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #000;
	text-transform:;
	font-family: arial;


}
nav .active a,
nav a:hover{
	background-color: #53b7d2;
	color:#ffffff;

}
 .contatos{
 	margin-right: 100px;
 }
 .redes-social{
 	color: #fff;
 	display: flex;
 	justify-content: center;
 	margin-top: 30px;
 	padding-top: 40px;
 	font-size: 40px;
 }

 footer{
	background-color: #000;
	height:900px;
	background-color: #000;

}
footer  .logo-final  {
	display: flex;
	justify-content: center;
	margin-top: 200px;
}
footer img{
	margin-top: 30px;
	padding: 15px;
}
.social{
	display: flex;
	justify-content: center;
}
h6{
	color: #fff;
	display: flex;
	justify-content: center;
}